/* =========================
   NAVBAR
========================= */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
}

    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

.logo img {
    height: 30px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

    nav a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }

        nav a.active {
            color: #2563eb;
            border-bottom: 3px solid #2563eb;
            padding-bottom: 6px;
        }

