/* =========================
   NAVBAR
========================= */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
}

    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

.logo img {
    height: 30px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

    nav a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }

        nav a.active {
            color: #2563eb;
            border-bottom: 3px solid #2563eb;
            padding-bottom: 6px;
        }

/* =========================
   DROPDOWN
========================= */
.nav-dropdown {
    position: relative;
}

    .nav-dropdown .nav-link {
        cursor: pointer;
    }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 260px;
    background: rgb(177 180 193);
    border-radius: 10px;
    padding: 12px 0;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    display: none;
    z-index: 1000;
}

    .dropdown-menu a {
        display: block;
        padding: 10px 20px;
        font-size: 15px;
        text-decoration: none;
    }

        .dropdown-menu a:hover {
            background: rgba(19, 103, 42, 0.25);
        }
